<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stockopedia front-end developer coding challenge</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
    <body>
        <div class="container">
            <div class="card mt-4">
                <div class="card-body">
                    <div *ngIf="showMessage === 1" class="alert alert-success" role="alert">Transaction added!</div>
                    <div *ngIf="showMessage === 2" class="alert alert-primary" role="alert">Transaction updated!</div>
                    <div *ngIf="showMessage === 3" class="alert alert-danger" role="alert">Transaction deleted!</div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Date</th>
                                <th scope="col">Type</th>
                                <th scope="col">Security</th>
                                <th scope="col" class="text-right">Shares</th>
                                <th scope="col" class="text-right">Value</th>
                                <th scope="col" class="text-right">Cashflow</th>
                                <th scope="col" class="text-right">&nbsp;</th>
                                <th scope="col" class="text-right">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let transaction of transactions; index as rowIndex">
                                <th scope="row">{{rowIndex+1}}</th>
                                <td>{{transaction.date | date: 'dd/MM/y'}}</td>
                                <td>{{transaction.type}}</td>
                                <td><span class="text-muted">{{ (transaction.security) ? transaction.security : 'n/a' }}</span></td>
                                <td class="text-right"><span class="text-muted">{{ (transaction.shares) ? transaction.shares : 'n/a' }}</span></td>
                                <td class="text-right">{{transaction.value/100 | currency:'GBP'}}</td>
                                <td class="text-right" [ngClass]="transaction.cashflow > 0 ? 'text-success' : 'text-danger'">{{transaction.cashflow > 0 ? '+' : ''}}{{transaction.cashflow/100 | currency:'GBP'}}</td>
                                <td class="text-right"><a href="#" (click)="updateTransaction(transaction)">Edit</a></td>
                                <td class="text-right"><a href="#" (click)="deleteTransaction(transaction.id)">Delete</a></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">Cumulative cashflow</td>
                                <td class="text-right" [ngClass]="cumulativeCashFlow > 0 ? 'text-success' : 'text-danger'">{{ cumulativeCashFlow/100 | currency:'GBP' }}</td>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <h3>{{ transactionData.id == 0 ? 'Add transaction' : 'Update' }} transaction</h3>
                    <form #transactionForm="ngForm" name="transactionForm" class="form">
                      <input type="hidden" name="id" [(ngModel)]="transactionData.id" studentId="ngModel"/>
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="date" class="form-control" id="date" name="date" [(ngModel)]="transactionData.date">
                        </div>
                        <div class="form-group">
                            <label for="type">Type</label>
                            <select id="type" class="form-control" name="type" [(ngModel)]="transactionData.type">
                                <option disabled selected>Please select...</option>
                                <option value="deposit">Deposit</option>
                                <option value="withdrawal">Withdraw</option>
                                <option value="buy">Buy</option>
                                <option value="sell">Sell</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="security">Security</label>
                            <input type="text" class="form-control" id="security" name="security" [(ngModel)]="transactionData.security">
                        </div>
                        <div class="form-group">
                            <label for="shares">Shares</label>
                            <input type="number" class="form-control" id="shares" name="shares" [(ngModel)]="transactionData.shares">
                        </div>
                        <div class="form-group">
                            <label for="value">Value</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">&pound;</span>
                                </div>
                                <input type="number" class="form-control" id="value" name="value" [(ngModel)]="transactionData.value">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="addTransaction(transactionForm)">{{ transactionData.id == 0 ? 'Add' : 'Update' }} transaction</button>
                        <button type="submit" class="btn btn-danger ml-3" (click)="resetForm()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
